*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Gabarito',sans-serif;
}
.navbar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;
    

    
}
.navbar__s1__title{
    color: #A435F0;

}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 15px;
    align-items: center;
    
}

.mylearning{
    position: relative;
}

.mylearning__popup{
    position:absolute ;
    border: solid black 1px;
    background-color: white;
    width: 150%;
    top:30px ;
    right: 0;
    padding: 20px;
    display: none;
}


.mylearning:hover .mylearning__popup{
    display: block;
}
.categories{
    display: flex;
    padding: 10px;
    justify-content:space-around ;
    border-bottom: solid black 1px;
    gap: 30px;
    
}
.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    
}

.sale-image{
    position: relative;
}
.sale-image_offer{
    width: 35%;
border: solid black 2px;
padding: 2%;
position:absolute ;
top: 10%;
left: 10%;
}
.sale-image img{
    width: 100%;

}
.recommended{
    padding: 2%;
}

.course__card{
    width: 350px;
    gap: 10px;
}
.course__card img{
    width: 100%;
    height: 60%;
}
.recommended__container{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.topics{
    padding: 10px;

}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap:wrap ;
    
    
}
.topics__container p{
    border: solid grey 2px;
    flex-grow: 1;
    flex-basis: 25%;
    

}
.popular{
    padding: 10px;
    
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}
.footer__one{
    display: flex;
    padding: 10px;
    gap: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}
.footer p{
    margin: 10px;
}